@font-face {
	font-family: 'Computer Modern';
	src: url('https://pudding.cool/assets/fonts/computer-modern/cmunrm.woff2');
	font-weight: 400;
}

@font-face {
	font-family: 'Computer Modern';
	src: url('https://pudding.cool/assets/fonts/computer-modern/cmunrb.woff2');
	font-weight: 600;
}


/* @font-face {
	font-family: 'Computer Modern';
	src: url('https://pudding.cool/assets/fonts/computer-modern/cmunsl.woff2');
	font-weight: 400;
	font-style: italic;
} */